<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491389090817-i8k3ioqc3bbqq45m024gi67co1igu1fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491389090817-i8k3ioqc3bbqq45m024gi67co1igu1fr</string>
	<key>API_KEY</key>
	<string>AIzaSyAiThhuHCkpE6bmyS1veyye7YbwlRa8P4E</string>
	<key>GCM_SENDER_ID</key>
	<string>491389090817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Vigor</string>
	<key>PROJECT_ID</key>
	<string>swiftui-auth-4cd64</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-auth-4cd64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491389090817:ios:3b901eec04184089d71400</string>
</dict>
</plist>